[Unit]
Description=electronOS Graphical Login Manager
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty1.service
Conflicts=getty@tty1.service
ConditionPathExists=/usr/bin/electronos-login

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/electronos-login
Restart=always
RestartSec=2
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Security hardening for the login manager itself
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
NoNewPrivileges=no
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_SYS_ADMIN CAP_CHOWN CAP_FOWNER CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_SETUID CAP_SETGID

[Install]
WantedBy=graphical.target
